.direction
    margin: 135px 0
    &__title
        margin-bottom: 35px
    &__menu
        max-width: 700px
        margin: 0 auto
        color: #1B1F2B
        margin-bottom: 106px
    &__list
        display: flex
        align-items: center
        justify-content: space-between
        margin: 0
        padding: 0
    &__link
        position: relative
        font-weight: bold
        font-size: 23px
        line-height: 122%
    &__link:hover
        content: ''
        display: block
        border-bottom: 2px solid #1B1F2B
    &__link:active
        content: ""
        color: #EFA501
        display: block
        border-bottom: 2px solid #EFA501
    &__inner
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 531px)
        grid-gap: 30px
    &__img
        display: flex
        flex-direction: column
        justify-content: space-between
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        padding: 50px
        border-radius: 50px
        overflow: hidden
        cursor: default
    &__text
        &-name
            font-weight: 500
            font-size: 35px
            line-height: 122%
            margin: 0
            margin-bottom: 16px
        &-price
            font-size: 17px
            line-height: 142%
            letter-spacing: -0.01em
            margin: 0
    &__more
        max-width: 135px
        &-link
            display: flex
            align-items: center
            font-weight: bold
            font-size: 23px
            line-height: 122%
            border: none
            background: transparent
            color: #ffffff
            padding: 0
            cursor: pointer
        &-img
            margin-left: 15px
    &__more-link:hover
        position: relative
        bottom: -7px
        left: -20px
        padding: 7px 20px
        background-color: #286562
        border-radius: 50px
