.header
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(image.png), url(../img/background.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &__wrapper
        max-width: 1168px
        display: flex
        flex-direction: column
        min-height: 100vh
    &__top
        display: flex
        align-items: center
        padding: 28px 0
    &__name
        padding-top: 119px
    &__title
        font-weight: bold
        font-weight: bold
        font-size: 96px
        line-height: 109%
        text-align: center
        letter-spacing: 0.02em
        margin: 0
    &__desc
        max-width: 562px
        font-size: 20px
        line-height: 142%
        text-align: center
        margin: 0 auto
        padding: 50px 0
    &__button
        position: relative
        left: 50%
        transform: translate(-50%, 0)
        background: #FFFFFF
        border: none
        border-radius: 10px
        text-align: center
        font-size: 17px
        line-height: 142%
        letter-spacing: -0.01em
        padding: 5px 20px
.logo
    width: 181.84px
    height: 30.24px
    margin-right: 181.58px
.menu
    max-width: 468px
    width: 100%
    margin-right: 181.58px
    &__list
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0
        padding: 0
    &__link:hover
        text-decoration: underline
